.container {
  display: inline-block;
  border: 1vw double #0FF;
  margin: 1%;
  height: 40vw;
  overflow-y: auto;
  color: #0FF;
  background-color: rgba(0,0,0,.6);
}
.container.left {
  margin-right: .5%;
  float: left;
  width: 46%;
}

.container.right{
  margin-left: .5%;
  float: right;
  width: 46%;
}

h3 {
  text-align: left;
  margin: 0;
  padding: 5px;
}

ul {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

li {
  border-top: .25vw solid #0FF;
  margin: 0;
  padding: 5px;
  padding-left: 15px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
